# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Python
__pycache__/
*.pyc
.env
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
